@charset "utf-8";
/* CSS Document */
html
{
	background-image: url("photography-manuel-martini-02.jpg");
	background-attachment: fixed;
	background-size: cover;
}

.navbar {
  width: 100%;
   overflow: auto;
	top:auto;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  
	color: #FFFFFF;
	font-size: 20px;
}



/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

.navigation {
	color:#FFFFFF;
}
.navigation {
  width: 100%;
	top:auto;
	text-align: center;
}

	


/* Navbar icon links */
.navigation a {
   text-align: center;
  padding: 12px;
  color: white;
  font-size:25px;
  
}

/* Navbar icon on mouse-over */
.navigation a:hover {
  
	color: #FFFFFF;
	text-decoration: line-through;
	text-decoration-color: #FF0509;
	
}

.navigation i{
	font-size: 25px;
}




#about1, #about2 , #about3, #about4, #video1 ,#video2 ,#video3 ,#video4
{
 width:98%;
padding:1%;

}

h2 
{
	text-align:center;
	color: #FFFFFF;
	background:#000000;
}

#gallery1 ,#gallery2
{
	background-color:#f06;
	color:#000000;
	text-align:center;
	padding:1%;
	width: 100%;
	float:left;
	
}

#gallery3 ,#gallery4
{
	background-color:#f06;
	color:#000000;
	text-align:center;
	padding:1%;
	width: 100%;
	float:left;
}


@media only screen and (max-width: 500px) {
  .text, .text3, #text1, #text2, h1, h2, h3, h4,h5 {font-size: 2vw;}
  
  #about1, #about2, #about3 ,#abou4 #v1, #v2 ,#v3,#v4,#5
  {
	  width:100%;
	  float:left;
  }
  
  
}

* {
	box-sizing: border-box;
}

.column {
	float: left;
	width: 33.33%;
	padding: 5px;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

P{
	font-size:20px;
	background-color: #000000;
}

h3{
font-size:20px;
	background-image: url("fashion-industry.jpg");
}